@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@100&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
@layer components {
  body {
    @apply bg-darkBg text-white;
  }
  .btn-yellow{
    @apply bg-primColor px-7 py-2 rounded-md text-darkBg; 
  }
}
.text-2xs{
  font-size: 9px;
}
.movieCardDescription{
  display: none;
}
.movieCard:hover .movieCardDescription{
  display: block;
}
